<div class="nyc-subway-sign sign-platform color-{{ section.accent }}-bg">
    <p class="sign-text-auxiliary sign-text-first">This is</p>
    <p class="sign-text-main">{{ section['name'] }}</p>
    <p class="sign-text-auxiliary">{{ title_short|default(title) }}</p>
    <ul class="sign-bullets">
        {% for b in section.bullets %}
        <li class="sign-bullet">
            <span class="subway-bullet subway-bullet-{{ b['bullet'] }}"></span><p class="sign-text-auxiliary"><a href="{{ b['url'] }}" title="{{ b['title'] }}">{{ b['title_short'] }}</a></p>
        </li>
        {% endfor %}
    </ul>
</div>