<div id="top-menu">
    <div class="highlighter">
        <div id="nav-switch" class="top-menu-button hl" onclick="toggleMenu()">
            <a href="javascript:void(0)"><img src="static/graphics/cross.svg"></a>
        </div>
        <p class="subway-label color-white-bg hl-switch">Menu</p>
    </div>
    {{ additional_menu }}
    <div id="top-menu-scrollrect" class="hidden">
        <div id="top-menu-content">
            {% if routes %}
            {% for section in routes %}
            {% with sign_data = section %}
            {% include 'templates/mta-subway-sign.html' %}
            {% endwith %}
            {% endfor %}
            {% endif %}
            <div id="license" class="fixed-size subway-sign color-100-white-bg">
                <h3>This website is for educational purposes at New York University only.</h3>
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
                            alt="Creative Commons License" style="border-width:0"
                            src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                    <br />
                    This work is licensed under a <a rel="license"
                        href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
                        Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
                </p>
            </div>
            <div id="contact" class="fixed-size subway-sign color-cyan-bg">
                <p><strong>Tony</strong> | <a href="https://twitter.com/twu113">Twitter</a> | <a
                        href="mailto:tony[dot]wu[at]nyu[dot]edu">Email</a> | <a
                        href="https://digitalmediatheory.wordpress.com">Course blog</a></p>
            </div>
        </div>
    </div>
    <div id="top-menu-background" class="hidden" onclick="toggleMenu()"></div>
</div>