[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "4.9"
simplejson = "*"
click = "*"
jinja2 = "*"
python-dotenv = "*"
pyftpsync = "*"

[requires]
python_version = "3.8"
