$darkest: #1a1e23;
$darker: #21252c;
$dark: #272c33;
$medium-dark: #50595e;
$medium: #939799;
$medium-light: #9ca3a7;

$onedark-black: #272c33;
$onedark-gray: #abb1bf;
$onedark-gray-darker: #787d86;
$onedark-white: #d3d3d3;
$onedark-white-lighter: #ececec;
$onedark-blue: #5cadf1;
$onedark-blue-darker: #3c8dc1;
$onedark-blue-darkest: #3e6881;
$onedark-blue-darkest-95: #334b5ae8;
$onedark-cyan: #51b5c3;
$onedark-green: #96c475;
$onedark-magenta: #c774df;
$onedark-red: #e26a72;
$onedark-yellow: #d29a61;

$std-yellow: #eedd00;

$ulysses-highlight-fg: rgb(235, 210, 72);
$ulysses-highlight-bg: rgb(104, 93, 46);
$ulysses-blue: rgb(70, 172, 219);
$ulysses-pink: rgb(214, 76, 154);

.color-cyan-bg {
    background-color: $onedark-cyan;
}

.color-100-white-bg {
    background-color: white;
}

.color-white-bg {
    background-color: $onedark-white;
}

.color-blue-bg {
    background-color: $onedark-blue;
}

.color-magenta-bg {
    background-color: $onedark-magenta;
}

.color-red-bg {
    background-color: $onedark-red;
}

.color-green-bg {
    background-color: $onedark-green;
}

.color-yellow-bg {
    background-color: $onedark-yellow;
}

.color-darker-bg {
    background-color: $darker;
}

.color-cyan-fg {
    color: $onedark-cyan;
}

.color-100-white-fg {
    color: white;
}

.color-white-fg {
    color: $onedark-white;
}

.color-blue-fg {
    color: $onedark-blue;
}

.color-magenta-fg {
    color: $onedark-magenta;
}

.color-red-fg {
    color: $onedark-red;
}

.color-green-fg {
    color: $onedark-green;
}

.color-darker-fg {
    color: $darker;
}

.color-yellow-fg {
    color: $onedark-yellow;
}

.color-95-translucent {
    background-color: $onedark-blue-darkest-95;
}

.rotate-45 {
    transform: rotate(45deg);
}
