@use "colors";
@use "fonts";

body {
    background-color: colors.$darker;

    color: colors.$onedark-white;
    font-family: fonts.$sans-serif-fonts;

    margin: 0;
}

a {
    color: colors.$onedark-blue;
}

a:hover {
    text-decoration: underline;
}

#top-menu {
    position: fixed;

    width: 10vw;
    height: auto;
    left: 0;
    // right: 50px;
    top: 7vh;
    // bottom: 0;

    z-index: 15;

    .top-menu-button {
        border: medium solid colors.$onedark-white;
        box-sizing: border-box;
        display: inline-block;
        height: 32px;
        margin: 0 10px;

        img {
            height: 100%;
        }
    }

    .highlighter {
        color: colors.$onedark-black;
        text-decoration: none;

        margin: 0.5rem 0;
        height: 32px;
        position: relative;
        z-index: 16;

        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;

        p {
            position: relative;
            top: -5px;
            z-index: 17;
        }
    }

    @media screen and (max-width: 768px) {
        left: 0px;
        top: 0px;
        background-color: colors.$onedark-blue-darkest;

        #navigation {
            background-color: unset;
        }
    }

    #top-menu-background {
        width: 100vw;
        height: 100vh;
        left: 0px;
        top: 0px;
        position: fixed;
        z-index: 15;
    }

    #top-menu-scrollrect {
        width: auto;
        height: auto;
        overflow: hidden scroll;
        position: fixed;
        top: 7vh;
        left: 10vw;
        right: 10vw;
        bottom: 0;
        z-index: 20;
    }

    #top-menu-content {
        columns: 360px auto;
        padding: 0 0 50px 0;

        .signage {
            display: block;
            width: auto;
        }

        .nyc-subway-sign {
            margin: 0 0 1rem 0;
            display: inline-block;
            width: 100%;

            .sign-white-band {
                width: 100%;
                height: 2px;
                object-fit: cover;
                padding: 0;
                margin: 0;
                position: relative;
                top: -5px
            }

            p {
                font-family: fonts.$sans-serif-fonts;
                line-height: 100%;
            }

            a {
                color: white;
                text-decoration: none;
            }

            .sign-text-main {
                font-size: 36pt;
                letter-spacing: -0.1rem;
                font-weight: 700;
                color: white;
                margin: 0.3rem auto 0rem 0.4rem;
                width: auto;
                position: relative;
                top: -8px;
            }

            .sign-text-auxiliary {
                letter-spacing: -0.02rem;
                font-weight: 700;
                color: colors.$onedark-white;
                margin: 0rem 10% 0.2rem 0.4rem;
                line-height: 1.2rem;
            }

            ul.sign-bullets {
                display: flex;
                list-style: none;
                height: 3rem;

                padding: 0;
                margin: 0.5rem 0.5rem 0.5rem 0.2rem;

                align-items: center;

                li {
                    width: 3rem;
                    height: 100%;
                    padding: 0;

                    &.sign-arrow {
                        margin: 0 0 0 auto;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            &.sign-platform {

                p,
                li,
                a {
                    color: colors.$onedark-black;
                }

                .sign-text-main {
                    top: 0;
                    margin-left: 1rem
                }

                .sign-text-auxiliary {
                    font-weight: 300;
                    font-size: 18pt;
                    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
                    text-align: right;
                }

                .sign-text-first {
                    margin-top: 1rem;
                    margin-left: 1rem;
                    text-align: left;
                }

                .sign-bullets {
                    flex-direction: column;
                    height: max-content;

                    .sign-bullet {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 45px;

                        .subway-bullet {
                            width: 45px;
                            height: 45px;
                            margin: 0 0.5rem;
                        }

                        .sign-text-auxiliary {
                            margin: 0;
                            font-weight: 700;
                            line-height: 45px;
                        }
                    }
                }
            }

            .sign-arrows {
                width: 36pt;
                position: relative;
                right: 0px;
                bottom: 8px;
            }
        }

        #license {

            p,
            h3 {
                color: black;
                margin: 0;
            }

            h3 {
                margin: 0 0 6pt;
            }

            a {
                color: colors.$onedark-blue-darker;
            }
        }

        #contact {

            p,
            a,
            strong {
                color: colors.$darkest;
            }

            a {
                text-decoration: underline;
            }
        }
    }

}

header {
    margin-top: 60px;
}

header,
article {
    margin: auto 26% auto;
    display: block;


    p,
    li,
    td {
        line-height: 1.8em;
        font-weight: 300;
        font-family: fonts.$serif-fonts;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato', fonts.$sans-serif-fonts;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    header,
    article {
        margin: auto 16% auto;
    }
}

@media screen and (max-width: 768px) {

    header,
    article {
        margin: auto 3% auto;
    }

    #top-menu {
        width: 100%;
    }

    #top-menu #top-menu-content {
        width: 100%;
        margin: 0;

        >div {
            margin: 0;
        }
    }
}

h1,
h2,
h3,
h4 {
    color: colors.$ulysses-blue;
    font-weight: 900;
}

h1 {
    font-size: 2em;
    margin: 2.5em auto 1.5em;
}

h2 {
    font-size: 1.5em;
    margin: 1.5em auto 1em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.2em;
    font-style: italic;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

p,
li {
    line-height: 1.5rem;
}

li {
    padding: 0 0 0.5em;
}

blockquote p {
    margin: 0;
}

blockquote {
    font-size: 1em;
    margin: 1rem 0 1rem;
    padding: 1rem 2rem;
    color: colors.$ulysses-blue;
    background-color: rgb(42, 61, 71);
}

li blockquote {
    font-size: 1em;
    margin: 0;
    padding: 0.2rem 0.4rem;
    color: colors.$ulysses-blue;
    background-color: rgb(42, 61, 71);
    border-radius: 4px;
}

ul {
    list-style: square outside url('data:image/gif;base64,R0lGODdhBQAKAJEAAAAAAP///wAAAAAAACH5BAkAAAIALAAAAAAFAAoAAAIIlI+ZwawPUQEAOw==');

    ol {
        list-style: decimal;
    }
}

em,
i {
    color: colors.$ulysses-blue;
}

strong,
b {
    color: colors.$ulysses-pink;
    font-weight: 700;
}

li.cat-item {
    margin: 0
}

figure {
    width: 100%;
    margin: 2em 0 2em;

    img {
        display: block;
        width: 90%;
        margin: 0 auto 0;
    }
}

mark {
    color: colors.$ulysses-highlight-fg;
    background-color: colors.$ulysses-highlight-bg;
    border: 3px;
    border-color: colors.$ulysses-highlight-bg;
    border-radius: 2px;
}

hr {
    border: 0.8px solid colors.$onedark-gray-darker;
    margin: 2rem 12pt;
}

.subway-li {
    margin: 0 0 6pt;
    padding: 0;
    display: inline-block;
    width: max-content;
}

.signage {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 0 8px;
    width: min-content;
}

.signage-label {
    position: relative;

    font-size: 1.5rem;
    line-height: initial;
    font-weight: bold;
    letter-spacing: -0.04rem;

    display: inline-block;
    margin: 0;
    padding: 0 3pt;

    width: max-content;

    a {
        text-decoration: none;
        color: colors.$onedark-black;
    }
}

.shape {
    position: absolute;
    display: block;
}

.layer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .layer-content {
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.highlighter {

    .hl {
        z-index: 2;

        ~.hl-switch {
            visibility: hidden;
        }
    }

    .hl:hover {
        &.hl-colored {
            filter: brightness(120%);
        }

        ~.hl-switch {
            visibility: visible;
        }
    }

}

.gallery {
    width: 100%;
    height: 90%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;

    align-content: space-around;
    justify-content: space-around;

    .tile-container {
        overflow: hidden;
        flex: 0 1 100%;
        margin: 1.5em 0;
    }

    .media-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.small-gallery {
        width: 60vw;

        .tile-container {
            flex: unset;
            width: 12vw;
            height: 12vw;
            margin: 12px 6px;
            border-radius: 10px;

            &:hover {
                border: 2px solid colors.$std-yellow;
                margin: 10px 4px;
            }

            a {
                width: 100%;
                display: block;
                object-fit: cover;

                img {
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: 768px) {
            width: 95vw;

            .tile-container {
                width: 20vw;
                height: 20vw;
            }
        }
    }
}

li:last-of-type {
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

audio {
    width: 80%;
    margin: 1rem auto;
    display: block;
}

video,
iframe {
    width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    table-layout: fixed;
}

td img {
    max-width: 100%;
    height: auto;
}

code {
    font-weight: 700;
    font-family: fonts.$monospace-fonts;
    letter-spacing: -0.2pt;
}

.noscroll {
    overflow: hidden;
}