@use "colors";

body {
    background-color: colors.$darker;

    color: colors.$onedark-white;
    font-family: 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Noto Sans', Ubuntu, 'Open Sans', sans-serif;

    margin: 0;
}

a {
    color: colors.$onedark-blue;
}

a:hover {
    text-decoration: underline;
}

#top-menu {
    position: fixed;
    left: 50px;
    top: 50px;

    width: fit-content;
    z-index: 15;

    .subway-label {
        z-index: 15;
    }

    #nav-switch {
        border: medium solid colors.$onedark-white;
        box-sizing: border-box;
        display: inline-block;
        height: 32px;
        margin: 10px;

        img {
            height: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        left: 0px;
        top: 0px;
        background-color: colors.$onedark-blue-darkest;

        #navigation {
            background-color: unset;
        }
    }

    #top-menu-content {
        // display: flex;
        flex-flow: column nowrap;
        width: min-content;

        >div {
            margin: 0 0 10px;
            box-sizing: border-box;
            width: 100%;
        }

        #license {

            p,
            h3 {
                color: black;
                margin: 0;
            }

            h3 {
                margin: 0 0 6pt;
            }

            a {
                color: colors.$onedark-blue-darker;
            }
        }

        #contact {

            p,
            a,
            strong {
                color: colors.$darkest;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    nav {
        padding: 10px;
        margin: 0;
        width: min-content;

        ul {
            padding: 0;
            margin: 0;
        }
    }

    a.highlighter {
        color: colors.$onedark-black;

        p {
            position: relative;
            top: -5px;
            z-index: 17;
        }
    }

    a.highlighter {
        text-decoration: none;
    }
}

#floating-title {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 22% 0;
    width: 56%;
    height: 2.5rem;
    z-index: 16;
    background-color: colors.$onedark-blue-darkest;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin: auto 0 auto;
        text-align: center;
        color: colors.$onedark-white-lighter;
    }
}

header,
article {
    margin: auto 22% auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    header,
    article,
    #floating-title {
        margin: auto 12% auto;
    }

    #floating-title {
        width: 76%;
    }
}

@media screen and (max-width: 768px) {

    header,
    article {
        margin: auto 3% auto;
    }

    #top-menu {
        width: 100%;
    }

    #top-menu #top-menu-content {
        width: 100%;
        margin: 0;

        >div {
            margin: 0;
        }
    }

    #floating-title {
        margin: 5px 25% 0;
        width: 50%;
        background-color: unset;
    }
}

header {
    margin-top: 60px;
}

.subway-sign {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 0 8px;
    width: min-content;
}

.subway-label {
    position: relative;

    font-size: 1.5rem;
    line-height: initial;
    font-weight: bold;
    letter-spacing: -0.04rem;

    display: inline-block;
    margin: 0;
    padding: 0 3pt;

    width: max-content;

    a {
        text-decoration: none;
        color: colors.$onedark-black;
    }
}

h1,
h2,
h3,
h4 {
    color: colors.$ulysses-blue;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.2em;
    font-style: italic;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

p,
li {
    line-height: 1.5rem;
}

li {
    padding: 0 0 0.5em;
}

blockquote p {
    margin: 0;
}

blockquote {
    font-size: 1em;
    margin: 1rem 0 1rem;
    padding: 1rem 2rem;
    color: colors.$ulysses-blue;
    background-color: rgb(42, 61, 71);
}

li blockquote {
    font-size: 1em;
    margin: 0;
    padding: 0.2rem 0.4rem;
    color: colors.$ulysses-blue;
    background-color: rgb(42, 61, 71);
    border-radius: 4px;
}

ul {
    // list-style: square outside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
    list-style: square outside url('data:image/gif;base64,R0lGODdhBQAKAJEAAAAAAP///wAAAAAAACH5BAkAAAIALAAAAAAFAAoAAAIIlI+ZwawPUQEAOw==');

    ol {
        list-style: decimal;
    }
}

em,
i {
    color: colors.$ulysses-blue;
}

strong,
b {
    color: colors.$ulysses-pink;
}

li.cat-item {
    margin: 0
}

figure {
    width: 100%;
    margin: 2em 0 2em;

    img {
        display: block;
        width: 90%;
        margin: 0 auto 0;
    }
}

mark {
    color: colors.$ulysses-highlight-fg;
    background-color: colors.$ulysses-highlight-bg;
    border: 3px;
    border-color: colors.$ulysses-highlight-bg;
    border-radius: 2px;
}

hr {
    border: 0.8px solid colors.$onedark-gray-darker;
    margin: 2rem 12pt;
}

.subway-li {
    margin: 0 0 6pt;
    padding: 0;
    display: inline-block;
    width: max-content;
}

.shape {
    position: absolute;
    display: block;
}

.layer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .layer-content {
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.highlighter {

    // display: flex;
    // flex-direction: column;

    .hl {
        z-index: 2;

        ~.hl-switch {
            visibility: hidden;
        }
    }

    .hl:hover {
        &.hl-colored {
            filter: brightness(120%);
        }

        ~.hl-switch {
            visibility: visible;
        }
    }

}

.gallery {
    width: 90%;
    height: 90%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;

    align-content: space-around;
    justify-content: space-around;

    .tile-container {
        overflow: hidden;
        flex: 0 1 100%;
    }

    .media-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.small-gallery {
        width: 60vw;
        .tile-container {
            flex: unset;
            width: 12vw;
            height: 12vw;
            margin: 12px 6px;
            border-radius: 10px;

            &:hover {
                border: 2px solid colors.$std-yellow;
                margin: 10px 4px;
            }

            a {
                width: 100%;
                display: block;
                object-fit: cover;

                img {
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: 768px) {
            width: 95vw;
            .tile-container {
                width: 20vw;
                height: 20vw;    
            }
        }
    }
}

li:last-of-type {
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

audio {
    width: 80%;
    margin: 1rem auto;
    display: block;
}

video, iframe {
    width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    table-layout: fixed;
}

td img {
    max-width:100%;
    height:auto;
}

code {
    font-weight: 700;
    font-family: "Fira Code";
    letter-spacing: -0.2pt;
}
