$serif-fonts: "Merriweather", "Noto Serif", "Charter", "Georgia", serif;
$monospace-fonts: "Fira Code", "Inconsolata", "Consolas", "Ubuntu Mono", "Courier New", monospace;

$sans-serif-fonts-0: "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Noto Sans", "Ubuntu",
    "Open Sans", sans-serif;
$sans-serif-fonts: "Lato", $sans-serif-fonts-0;
