@use 'styles';

@import "colors";

@keyframes flash {
    0% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(100%);
    }

    51% {
        filter: brightness(60%);
    }

    100% {
        filter: brightness(60%);
    }
}

article {
    margin: auto 25% auto;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin: auto 15% auto;
    }

    @media screen and (max-width: 768px) {
        margin: auto 5% auto;
    }
}

.main-container {
    padding: 4rem 0;
}
