@use 'sass:color';

@import "fonts";
@import "colors";

:root {
    --box-shadow-1: 0 4px 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.09);
    --box-shadow-2: 0 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 8px 8px rgba(0, 0, 0, 0.09);
    --box-shadow-3: 0 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 4px 4px rgba(0, 0, 0, 0.12);
    --box-shadow-focus: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    --box-shadow-focus-inset: inset 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    --box-shadow-focus-bright: 0 0 0 0.2rem rgba(0, 123, 255, 0.75);

    --color-bg: #{$color-bg};
    --color-anchor: #{$color-anchor};
    --color-text: #{$color-text};
}

* {
    box-sizing: border-box;

    &:focus {
        box-shadow: var(--box-shadow-focus);
    }
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);

    font-family: $sans-serif-fonts;
    font-size: 1rem;

    margin: 0;

    width: 100vw;
    min-height: calc(100vh - var(--masthead-height));
}

p {
    margin-bottom: 4pt;
}

a {
    color: var(--color-anchor);
    text-decoration: none;

    &:hover {
        color: var(--color-anchor);
        text-decoration: underline;
    }
}

h1,
h2,
h3 {
    position: relative;
    font-weight: 800;
    color: $ulysses-blue;
}

h4,
h5,
h6 {
    position: relative;
    font-weight: 600;
    color: $ulysses-blue;
}

h2,
h3 {
    font-size: 1.5rem;
    margin: 1.5em auto 1em;
}

h4 {
    font-size: 1.2rem;
    margin: 1rem auto;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8em;
}

input {
    border-radius: 0;
}

.align-middle {
    display: flex;
    align-items: center;
}

a.btn {
    text-decoration: none;

    * {
        text-decoration: none;
    }
}

.control {
    cursor: pointer;
}

.dropdown-menu {
    max-width: 100vw;
    overflow: hidden;

    background-color: $bw-grey-3;

    h6 {
        color: $color-text-muted;
    }

    > p,
    > a {
        padding: 0.2rem 1.5rem;
        margin: 0;
    }

    > p,
    > a,
    > span,
    input {
        width: 100%;
        color: $color-text;
    }
}

a.dropdown-toggle:focus {
    text-decoration: underline;
}

.dropdown-item {
    color: $color-text;

    font-size: 11pt;

    padding: 0.25rem 1rem;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        background-color: $blue;
        color: $color-text;
    }

    &:active,
    &.active {
        background-color: var(--button-color);
        color: var(--button-color-text);
    }

    @media screen and (max-width: 768px) {
        white-space: normal;
    }
}

@media screen and (hover: none) {
    a,
    span,
    p {
        &.dropdown-item {
            text-decoration: underline;
        }
    }
}

.dropdown-header {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 0.8rem;

    &:not(:first-child) {
        padding-top: 0.7rem;
    }
}

code,
kbd,
pre,
samp {
    font-family: $monospace-fonts;
}

code {
    font-size: 0.9em;
    border-radius: 3px;
    padding: 0px 3px;
    font-weight: 700;
    color: inherit;
    unicode-bidi: plaintext;
    background: rgba(137, 157, 229, 0.15);
    position: relative;
}

select.custom-select {
    appearance: none;
    border: none;
    background-color: transparent;
    color: $color-text;
    font-family: inherit;
    font-size: 1rem;
    min-width: 100%;

    optgroup,
    option {
        color: initial;
    }
}

.svg-button object {
    // https://stackoverflow.com/a/65731823/10896407
    pointer-events: none;
}

.aria-label-hint {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.ui-text-no-select {
    user-select: none;
}

.nav-container,
.footer-container {
    background-color: $bw-grey-2;
    box-shadow: var(--box-shadow-1);
}

.btn,
.interactive-text {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.btn {
    padding: 0.2rem 0.6rem;
}

i.bi::before {
    vertical-align: middle;
}

.section-container {
    section header {
        margin: 0 0 1rem;
        user-select: none;
    }
}

.bi::before {
    position: relative;
    top: -1px;
}

.tooltip {
    font-weight: 600;
    letter-spacing: -0.1px;
}

.paragraph {
    margin: 1rem 0;

    & + .paragraph {
        margin-top: 0.5rem;
    }
}

.color-darker-bg {
    background-color: $darker;
}

.color-100-black-bg {
    background-color: black;
}

.color-100-white-bg {
    background-color: white;
}

.color-black-bg {
    background-color: $onedark-black;
}

.color-gray-bg {
    background-color: $onedark-gray;
}

.color-white-bg {
    background-color: $onedark-white;
}

.color-cyan-bg {
    background-color: $onedark-cyan;
}

.color-blue-bg {
    background-color: $onedark-blue;
}

.color-magenta-bg {
    background-color: $onedark-magenta;
}

.color-red-bg {
    background-color: $onedark-red;
}

.color-green-bg {
    background-color: $onedark-green;
}

.color-yellow-bg {
    background-color: $onedark-yellow;
}

.color-cyan-fg {
    color: $onedark-cyan;
}

.color-100-white-fg {
    color: white;
}

.color-black-fg {
    color: $onedark-black;
}

.color-white-fg {
    color: $onedark-white;
}

.color-blue-fg {
    color: $onedark-blue;
}

.color-magenta-fg {
    color: $onedark-magenta;
}

.color-red-fg {
    color: $onedark-red;
}

.color-green-fg {
    color: $onedark-green;
}

.color-darker-fg {
    color: $darker;
}

.color-yellow-fg {
    color: $onedark-yellow;
}

.color-black-bg-85 {
    background-color: $onedark-black-85;
}

.color-gray-bg-85 {
    background-color: $onedark-gray-85;
}

.color-white-bg-85 {
    background-color: $onedark-white-85;
}

.color-cyan-bg-85 {
    background-color: $onedark-cyan-85;
}

.color-blue-bg-85 {
    background-color: $onedark-blue-85;
}

.color-magenta-bg-85 {
    background-color: $onedark-magenta-85;
}

.color-red-bg-85 {
    background-color: $onedark-red-85;
}

.color-green-bg-85 {
    background-color: $onedark-green-85;
}

.color-yellow-bg-85 {
    background-color: $onedark-yellow-85;
}

.color-cyan-darkest-bg {
    background-color: $onedark-cyan-darkest;
}

.color-blue-darkest-bg {
    background-color: $onedark-blue-darkest;
}

.color-magenta-darkest-bg {
    background-color: $onedark-magenta-darkest;
}

.color-red-darkest-bg {
    background-color: $onedark-red-darkest;
}

.color-green-darkest-bg {
    background-color: $onedark-green-darkest;
}

.color-yellow-darkest-bg {
    background-color: $onedark-yellow-darkest;
}

.color-85-translucent {
    background-color: $onedark-blue-darkest-85;
}

.rotate-45 {
    transform: rotate(45deg);
    transition: ease-out;
}

article {
    p {
        font-family: $serif-fonts;
        font-weight: 300;
        font-size: 11pt;

        line-height: 1.8rem;
        margin-block-start: 1.2rem;
    }

    > section {
        margin: 1.5rem 0;
    }

    > header {
        font-family: $sans-serif-fonts;
        margin: 0 0 2.5rem;
    }

    .date-published {
        font-weight: 500;
        font-style: italic;
        color: $ulysses-blue;
    }

    .citations {
        p {
            font-family: $sans-serif-fonts;
            margin: 0.5rem 0;
            font-size: 10pt;
            font-weight: 600;
            letter-spacing: -0.05px;
            line-height: 1.4;
        }
    }
}

strong {
    color: $ulysses-pink;
    font-weight: 700;
}

em {
    color: $ulysses-blue;
    font-weight: 500;
}

cite {
    font-style: normal;
}

mark {
    color: $ulysses-highlight-fg;
    background-color: $ulysses-highlight-bg;
    border-radius: 2px;
}

figure {
    width: 100%;
    margin: 2em 0 2em;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    img {
        width: 90%;
        margin: 0 auto 0;
    }
}

.anchor {
    display: inline-block;
    position: absolute;

    padding: 0 1rem 0 0;

    line-height: 1;
    top: 1px;
    left: -1.2em;
    height: 100%;

    color: inherit;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    i.bi {
        visibility: hidden;
    }

    &:hover,
    &:focus {
        color: inherit;

        i.bi {
            visibility: visible;
        }
    }

    @media screen and (max-width: 768px) {
        position: static;
        padding: unset;
        i.bi {
            visibility: visible;
        }
    }
}

.anchor-container {
    &:hover,
    &:focus {
        .anchor i.bi {
            visibility: visible;
        }
    }
}

hr {
    border: 0.8px solid $onedark-gray-darker;
    margin: 2rem 12pt;
}

audio,
video,
iframe {
    width: 100%;
    margin: 1rem auto;
}

blockquote {
    font-size: 1em;
    margin: 1rem 0 1rem;
    padding: 1rem 2rem;
    color: $ulysses-blue;
    background-color: $ulysses-blue-15;

    p {
        margin: 0;
    }
}
