@import "../colors";

h1.h1-fullsize {
    color: $ulysses-pink;
    font-weight: 300;
    font-size: 5em;
    text-align: right;
    margin: 40vh 0 50vh;

    @media screen and (max-width: 768px) {
        .anchor {
            display: none;
        }
    }
}

.actor {
    display: flex;
    width: 100%;
    margin: 0 0 5% 0;

    flex-flow: column wrap;

    align-content: space-around;
    justify-content: space-around;

    .signage-label {
        margin: 0 0 0 auto;
        font-weight: 600;
    }

    figure {
        margin: 0;
    }

    figcaption {
        text-align: center;
        padding: 0.5rem 0;
    }

    .img-context {
        height: 480px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        flex: 0 0 auto;

        width: 100%;

        @media screen and (min-aspect-ratio: 16/9) and (max-width: 768px) {
            width: 70%;
            height: 90vh;
        }

        &.zoomed-in {
            width: 256px;
            height: 256px;

            @media screen and (min-aspect-ratio: 16/9) and (max-width: 768px) {
                width: 60vh;
                height: 60vh;
            }

            .img-mask {
                width: 100%;
                height: 100%;
                max-height: unset;
            }
        }

        display: flex;

        .img-mask {
            overflow: hidden;

            margin: auto;
            max-height: calc(100% - 32px);
            border-radius: 16px;
        }

        @keyframes fade-out {
            from {
                opacity: 100%;
            }
            95% {
                opacity: 0%;
            }
            to {
                opacity: 0%;
            }
        }

        @keyframes fade-in {
            from {
                opacity: 0%;
            }
            95% {
                opacity: 100%;
            }
            to {
                opacity: 100%;
            }
        }

        animation: 0.5s ease-out normal 0s forwards 1 fade-in;

        &.fade-out {
            animation: 0.5s ease-out normal 0s forwards 1 fade-out;
        }

        img {
            position: relative;
            object-fit: contain;
            width: 100%;
            height: 100%;

            transform-origin: center;
            transform: scale(1) translate(0%, 0%);
        }
    }
}

.space {
    width: 100%;
    height: 40vh;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

#actor-1 .zoomed-in img {
    transform: scale(4) translate(-0.5%, 8%);
}

#actor-2 .zoomed-in img {
    transform: scale(5) translate(0, 0);
}

#actor-3 .zoomed-in img {
    transform: scale(5) translate(0, -1%);
}

#actor-4 .zoomed-in img {
    transform: scale(6) translate(-35.5%, 12%);
}

#actor-5 .zoomed-in img {
    transform: scale(3) translate(0, 15%);
}

#actor-6 .zoomed-in img {
    transform: scale(3.5) translate(5.5%, 6%);
}

#actor-7 .zoomed-in img {
    transform: scale(5) translate(16%, -8%);
}

#actor-8 .zoomed-in img {
    transform: scale(6) translate(-8%, -5%);
}

#actor-9 .zoomed-in img {
    transform: scale(6) translate(-7%, -20%);
}

#actor-10 .zoomed-in img {
    transform: scale(3.2) translate(6%, -3%);
}

#actor-11 .zoomed-in img {
    transform: scale(7) translate(14.8%, 5.8%);
}

#actor-12 .zoomed-in img {
    transform: scale(5) translate(-12%, 5%);
}

#actor-13 .zoomed-in img {
    transform: scale(5) translate(-8%, 1%);
}

#actor-14 .zoomed-in img {
    transform: scale(4.2) translate(-2.5%, -3%);
}

#actor-15 .zoomed-in img {
    transform: scale(7) translate(-2%, 2%);
}

#actor-16 .zoomed-in img {
    transform: scale(8) translate(3%, 1%);
}

#actor-17 .zoomed-in img {
    transform: scale(5) translate(0, -1%);
}

#actor-18 .zoomed-in img {
    transform: scale(5) translate(7%, 5%);
}

#actor-19 .zoomed-in img {
    transform: scale(4) translate(0, 1%);
}

#actor-20 .zoomed-in img {
    transform: scale(5) translate(0, -1%);
}

#actor-21 .zoomed-in img {
    transform: scale(3) translate(3.5%, 10%);
}
