{% extends 'templates/article.html' %}

{% set title = "About this website" %}
{% set topic = "home.about" %}
{% set location = ["nyu"] %}
{% set bullet = "L" %}

{% block article %}

<figure><img src="static/img/maspeth-ave/w4-operatic-9.jpg" /></figure>

<h3>About Newtown Creek</h3>

<p>This website presents an ecology research project on Newtown Creek, a tributary and canal to the East River in New
    York City that is heavily polluted.</p>

<p>Nearly a century of heavy pollution by industries along the river, as well as incidents such as the Greenpoint
    Oilspill, have made the river's water body and riverbed extremely toxic, and wildlife along the river had long since
    collapsed.</p>

<p>The Creek has been in EPA Superfund status since 2010. The cleanup effort by EPA as well as companies responsible for
    pollution has been slow but ongoing.</p>

<h3>About DMTP</h3>

<p>This project is designed and realized in the context of "Digital Media: Theory and Practice," an undergraduate-level
    media studies course by New York University's Department of Media, Culture, and Communication. This project is
    therefore a critical engagement with today's media systems, affect, and material conditions. The main subject of the course concerns "precarity," which, for this project, would be the precarious environmental situation in Newtown Creek.</p>

<h3>Note on precarity</h3>

<p>This project is unfinished and ongoing, which is largely because it had been interrupted by the COVID-19 pandemic. Hence, a part of this website is dedicated to focusing on another precarious situation: my experience under the pandemic.</p>

<h3>About the author</h3>

<p>Tony is an undergraduate student at NYU MCC.</p>

{% endblock %}