{% extends 'templates/article.html' %}

{% set title = 'Audio Scratch-tracks' %}
{% block article %}
<audio controls>
    <source src="static/audio/w6/200302_0209.m4a" type="audio/mp4"></audio>
<audio controls>
    <source src="static/audio/w6/200302_0217.m4a" type="audio/mp4"></audio>
<audio controls>
    <source src="static/audio/w6/200302_0225.m4a" type="audio/mp4"></audio>
{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Audio: Scratch Tracks",
        "navigation": {
            "decoration": "color-magenta-bg",
            "order": 20
        }
    }
</script>
{% endset %}