{% extends 'templates/article.html' %}

{% block article %}

<p><strong>Lifelong Learning</strong></p>

<p>Advice to: State Council of the People’s Republic of China</p>

<h3>Pitch: The Lifelong Compulsory Education Five-Year Plan (2040)</h3>

<blockquote>
    <p>Under conditions of lifelong learning, it is likely to look more like this: birth, trauma, therapy, training,
        internship, recruitment, role-playing, training, deployment, trauma, therapy, retraining, deployment, therapy,
        death.</p>
</blockquote>

<p>Currently, we deploy a nine-year compulsory education system, designed in the wake of the opening up policy back in
    the 1970s. While it has successfully lifted most of our nation out of illiteracy, this antiquated system, based on
    traditional disciplinary teaching and collective life, is slow, bulky, and cannot be expected to take on the role of
    preparing our people for a future society of hyper-digitization, artificial-intelligence and automation.</p>

<p>Instead, we propose a <strong>lifelong compulsory education system.</strong></p>

<ul>
    <li>In this system, schools are abolished. Instead of a collectivized, disciplinary teaching, education tasks are
        delivered through universally accessible digital devices. This ensures <em>near real-time delivery</em> of the
        most up-to-date knowledge.</li>
    <li>In this system, education materials (text “books,” curriculum, knowledge, skills) are no longer designed by
        publishers/higher-ed institutions, but are developed through iterative artificial intelligence systems. This
        ensures <em>near real-time update</em> of the most up-to-date knowledge.</li>
    <li>In this system, the education period is extended indefinitely. This directly <em>addresses the current
            shortfall, where our schools run independently of our labor market.</em> Instead, education and training
        become one, where requirements of production are constantly examined and imagined (through A/B tests, blockchain
        public records, data mining, etc.) and instantly fed back into education.</li>
</ul>

<blockquote>
    <p>Work should be understood to be consonant and coterminous with the now <strong>perpetually examined</strong>
        life.</p>
</blockquote>

<p>With this, citizens become perpetual students of the state. This means that, instead of our current model of
    fragmented authoritarianism (through stages of central, provincial, local governments), control over social
    behaviors (and many other aspects such as markets, labor unions, etc.) can be exerted directly by the central
    government.</p>

<blockquote>
    <p>Thus lifelong learning operates via a double movement: first, the <strong>interiorization,</strong> the claiming
        for the self, of what was previously the work of the state, church, and family; and second, an <strong>opening
            up of possibilities</strong> to other kinds of actors and nonstandard learning events.</p>
</blockquote>

{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Evil Media: In-class #2",
        "color": "red"
    }
</script>
{% endset %}