{% extends 'templates/article.html' %}

{% set title = "Photos: Gallery Photo Candidates" %}
{% set title_short = "Photo Candidates" %}
{% set topic = "misc.photo_candidates" %}
{% set bullet = "J" %}

{% block article %}

<div class="gallery">
    <div class="tile-container">
        <img class="media-content" src="static/img/greenpoint-ave/w3-4.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/kosciuszko-bridge/w3-5.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/kosciuszko-bridge/w4-operatic-12.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/maspeth-ave/w4-operatic-9.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/maspeth-ave/w4-operatic-7.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/metropolitan-ave/w4-operatic-2.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/morgan-ave/w6-hungry-5.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/maspeth-ave/w7-gallery-3.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/morgan-ave/w7-gallery-2.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/maspeth-ave/w6-hungry-19.jpg" alt="" /></div>
</div>
<h3>
    Possible jQuery gallery code
</h3>
<p><a href="https://github.com/ed-lea/jquery-collagePlus">https://github.com/ed-lea/jquery-collagePlus</a></p>
<p><a href="https://github.com/fancyapps/fancybox">https://github.com/fancyapps/fancybox</a></p>
<p><a href="https://github.com/artpolikarpov/fotorama">https://github.com/artpolikarpov/fotorama</a></p>

{% endblock %}
