{% extends 'templates/article.html' %}

{% set title = 'Photos: Survey #2: Operatic' %}
{% block article %}

<div class="gallery">
    <div class="tile-container">
        <img class="media-content" src="static/img/w4/w4-operatic-2.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w4/w4-operatic-4.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w4/w4-operatic-9.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w4/w4-operatic-10.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w4/w4-operatic-12.jpg" alt="" /></div>
</div>

{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Photos: Survey #2: Operatic",
        "navigation": {
            "decoration": "color-cyan-bg",
            "hidden": ["index.html"],
            "order": 7
        }
    }
</script>
{% endset %}