{% extends 'templates/article.html' %}

{% set title = "Photos: Survey 1" %}
{% set title_short = "Survey 1" %}
{% set topic = "misc.survey_1" %}
{% set bullet = "J" %}

{% block article %}

<div class="gallery">
    <div class="tile-container">
        <img class="media-content" src="static/img/kosciuszko-bridge/w3-1.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/kosciuszko-bridge/w3-2.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/kosciuszko-bridge/w3-3.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/greenpoint-ave/w3-4.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/kosciuszko-bridge/w3-5.jpg" alt="" /></div>
</div>

{% endblock %}
