{% extends 'templates/article.html' %}

{% set title = 'Photos: Survey #1' %}
{% block article %}

<div class="gallery">
    <div class="tile-container">
        <img class="media-content" src="static/img/w3-NewtownCreek/w3-1.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w3-NewtownCreek/w3-2.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w3-NewtownCreek/w3-3.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w3-NewtownCreek/w3-4.jpg" alt="" /></div>
    <div class="tile-container">
        <img class="media-content" src="static/img/w3-NewtownCreek/w3-5.jpg" alt="" /></div>
</div>

{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Photos: Survey #1",
        "navigation": {
            "color": "cyan",
            "order": 7
        }
    }
</script>
{% endset %}