{% extends 'templates/base.html' %}

{% set title = "Home" %}
{% set title_short = 'Creek Explorer' %}
{% set topic = "home.explorer" %}
{% set bullet = "L" %}

{% set primary_page = 1 %}
{% set section_name = "Homepage" %}
{% set section_accent = "blue" %}
{% set section_description %}
<span>This is the homepage of this project. Here you can find a brief introduction of Newtown Creek, information about this website, as well as DMTP.</span>
{% endset %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="styles/style-index.css">
{% endblock %}

{% block body %}

<header>
    <h1 class="shape">Newtown Creek</h1>
</header>
<main>
    <div id="map-container" class="layer">
        <img id="map" src="static/graphics/newtown-creek-map.svg" alt="map of newtown creek" class="layer-content">
        <div id="map-lables" class="layer">
            <img src="static/graphics/newtown-creek-map-labels.svg" alt="map labels" class="layer-content">
        </div>
        <div id="annotation" class="layer">
            <div class="layer highlighter">
                <ul class="signage">
                </ul>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% set additional_menu %}
<!-- <div class="highlighter">
    <div class="top-menu-button hl" onclick="">
        <a href="javascript:void(0)"><img src="static/graphics/cross.svg"></a>
    </div>
    <p class="signage-label color-white-bg hl-switch">Help</p>
</div> -->
{% endset %}
