{% extends 'templates/article.html' %}

{% set title = 'Theory-making #2' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="styles/style-theory-making-2.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module" src="script/app-theory-making-2.js"></script>
{% endblock %}

{% block header %}
<header>
    <h1>Hungry?</h1>
</header>
{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Theory-making #2",
        "navigation": {
            "decoration": "color-green-bg",
            "order": 15
        }
    }
</script>
{% endset %}

{% block article %}

<div class="actor">
    <figure>
        <div id="actor-1" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-8.jpg">
            </div>
        </div>
        <figcaption>Frito-Lay, Morgan Ave, Brooklyn</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-2" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-7.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<p>The “North Brooklyn Industrial Business Zone” — such is the name much of the neighborhoods of Greenpoint, Maspeth, and East Williamsburg has been designated in a <a href="https://www1.nyc.gov/site/planning/plans/north-brooklyn-vision-plan/north-brooklyn-vision-plan.page">2018 New York City city planning report.</a> Together with the Maspeth IBZ and the Long Island City IBZ, they form a large industrial core in the City’s geographic heart, between Queens and Brooklyn. Flowing through these zones is Newtown Creek.</p>
<p>Much of the area’s heavy industries have moved out since the 1960s, due to mixed factors such as shifting labor cost and relocation of production chains. Today, the area has a mix of remaining energy/utility companies around Greenpoint and Maspeth (ExxonMobil, National Grid), while areas near the upstream of Newtown Creek is dominated by wholesale, food manufacturing industries, as well as warehouses.</p>

<div class="actor">
    <figure>
        <div id="actor-3" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-6.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-4" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-11.jpg">
            </div>
        </div>
        <figcaption>Hungry for retail space?</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<div class="space">
</div>

<div class="actor">
    <figure>
        <div id="actor-5" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-21.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-6" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-4.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<p>In 1978, during a regular survey, the New York City Coast Guard spotted a large swath of petrol in Newtown Creek’s water surface near Greenpoint. One of America’s largest oil spill known today as the Greenpoint Oil Spill, it began back in 1950. By the time it was discovered, an estimated 78 million tons of oil has entered the water. Crude oil and petroleum sink to the river bed and become sediments. Newtown Creek’s riverbed becomes a pool of black, viscous toxins, constantly releasing chemicals into the water.</p>

<div class="actor">
    <figure>
        <div id="actor-7" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-13.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-8" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-2.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<p>The oil spill is not the only source of pollution in Newtown Creek. Since the beginning of heavy industries along the river, it has been used as drainage for all the toxic wastes. This remains true today.</p>
<p>During heavy rainfall, rainwater overwhelms the City’s sewage system. As a result, sewage, both residential and industrial, backs and eventually spills into natural waters, bringing ground level wastes (trash, and, well, solid toxins) with it. This is called a Combined Sewage Overflow event. Newtown Creek is a major outfall for the sewage.</p>
<p>During floods and storm surges (e.g. hurricanes), sewage then floods into the street — via the river.</p>

<div class="actor">
    <figure>
        <div id="actor-9" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-5.jpg">
            </div>
        </div>
        <figcaption>Swimming. Toxins to the skin.</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<div class="space">
</div>

<div class="actor">
    <figure>
        <div id="actor-10" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-3.jpg">
            </div>
        </div>
        <figcaption>Food (for machines)</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-11" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-19.jpg">
            </div>
        </div>
        <figcaption>Drinks (for machines)</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-12" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-17.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<p><em>Systems of consumption</em></p>
<p>Humanity&#39;s progress in industrialization and modernization (also, capitalism) has been compelled by a sense of resource scarcity. We are all hungry for materials. Materials are scarce. If I don’t grab the chip, someone might get it.</p>
<p>Humanity&#39;s progress in industrialization and modernization has also been supported by a (false) sense that the environment is an endless pit for all the waste that is excreted. I pour the sewage into the river, and it&#39;s done. Neighbor who?</p>
<p>Each company, each factory (along the river), takes care of its own flow of resources. Consumers (“customers”) also take care of their own. Each of these material flows is an assemblage of things, and each assemblage is most conscious of their own. </p>
<p>But the environment itself is an assemblage — an assemblage of smaller systems — and businesses and consumers are closely tied to the environment, and in manners they are unaware of or choose to ignore.</p>
<p>Systems do and will affect each other. System-wide (environment-wide) changes affect all systems, through mechanisms and power that are constantly in flux throughout the environment. Yet the small, hungry assemblages pay no attention — until the environment’s “hidden” potential emerges from within and turns outward. Petroleum emerges to the water surface. Sewage overflows into the river.</p>

<div class="actor">
    <figure>
        <div id="actor-13" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-30.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-14" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w5/illustration-theory-affect-1.jpg">
            </div>
        </div>
        <figcaption>The other end of metabolism</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<div class="space">
</div>

<div class="actor">
    <figure>
        <div id="actor-15" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-28.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-16" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-26.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-17" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-25.jpg">
            </div>
        </div>
        <figcaption>Sparkling water for drink?</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-18" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-22.jpg">
            </div>
        </div>
        <figcaption>Brought to you by ExxonMobil</figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

<p>Industries, businesses, and consumers are hungry. City planning is hungry too. As New York City outlines its plan to bring “industry” and “innovations” back to North Brooklyn, “preexisting environmental conditions” get attention the last. Writing about the challenges industrial businesses are facing, in the City’s report, it says,</p>
<blockquote>
    <p>Bulkheads along Newtown Creek are deteriorating, but many businesses cannot afford the expense of repairs; the Creek’s Superfund status also makes approvals for repairs more complex and onerous.</p>
</blockquote>
<p>The environment is a nuisance. It is the appendix. But “complex and onerous” are culturally constructed signs — they are feelings, which the environment and its affect pay no attention to. It will be “complex and onerous” until unexpected, chaotic situations emerge in the environment. Then it becomes painful.</p>

<div class="actor">
    <figure>
        <div id="actor-19" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-27.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>
<div class="actor">
    <figure>
        <div id="actor-20" class="actor-container zoomed-in">
            <div class="actor-container-frame">
                <img src="static/img/w6/w6-hungry-24.jpg">
            </div>
        </div>
        <figcaption></figcaption>
    </figure>
    <p class="subway-label color-red-bg" onclick="zoom(this)"><a href="javascript:void(0)">Context</a></p>
</div>

{% endblock %}