{% extends 'templates/article.html' %}

{% set title = 'Reading Presentation' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="styles/style-theory-making-2.css">
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap" rel="stylesheet">
<style>
    .illustration {
        max-width: 480px;
        margin: 2rem auto;
        display: block;
    }

    code {
        font-weight: 700;
        font-family: "Fira Code";
        color: #d29a61;
        letter-spacing: -0.2pt;
    }

    mark code {
        color: #ebd248;
    }
</style>
{% endblock %}

{% block header %}
<!-- <header>
    <h1>{{ title }}</h1>
</header> -->
{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Reading Presentation",
        "navigation": {
            "color": "yellow",
            "order": 61
        }
    }
</script>
{% endset %}

{% block article %}

<h1 style="text-align: left;">Evil media …</h1>

<p>Media systems are <em>evil</em> not necessarily because they are harmful, sinister, or morally bad, but rather because they are obscure and opaque, yet pervasive and essential to modern life.</p>

<h1>… as illustrated by the COVID-19 pandemic</h1>

<p>To be able to better answer this question, we look at the COVID-19 pandemic, in which we suddenly find ourselves thrusted into a world of hyper-digitization and hyper-mediation.</p>

<p><em>Updated Apr 21 2020</em></p>
<p><a href="static/video/w13/reading-pres.mp4">Presentation recording</a></p>

<hr />

<h3><code>abstraction</code></h3>

<ul>
    <li><code>abstraction</code> as a practice/technique in programming/algorithm design, in which a complex problem is broken down (abstracted) into smaller, simpler problems;</li>
    <li><code>abstraction</code> as a social and cultural process — in our everyday life: “flowcharts, naming conventions (the ‘end-user’), design tools, programming libraries, assembly languages, and so on”</li>
</ul>

<p><strong>Deciding who gets tested for COVID-19, who gets the stimulus check…</strong></p>

<video class="illustration" autoplay loop muted>
    <source src="static/video/w11/flow.mp4">
</video>

<ul>
    <li><code>finite-state machines</code> “machines” (systems, things) that changes itself (state) according to some input and its defined rules; they are everywhere</li>
</ul>


<h3><code>recursion</code></h3>

<ul>
    <li><code>recursion</code> as a form of abstraction: the application of logic onto itself</li>
    <li><code>recursion</code> as the design for an autonomous, self-sustaining system of control (which is not realized yet)</li>
    <li><em>A material example of recursion:</em> the similar governmental structure for the city (legislature, administration, courthouse) is repeated at the state and federal (national) levels</li>
</ul>

<p><strong>Zoom routing its traffic through its servers in China</strong></p>

<video class="illustration" autoplay loop muted>
    <source src="static/video/w11/zoom.mp4">
</video>

<ul>
    <li>Among the many privacy issues Zoom is accused of having is the discovery that in February, some of Zoom’s international traffic were rerouted through its servers in China “to ease server load elsewhere.” Yet here, the internet is operating <em>exactly as it was envisioned to work:</em></li>
    <li>The delivery of data on the internet can be seen as a <em>recursive process:</em> each server receiving data applies the same rule: pass the data to the next server that is fastest (closest and/or having the lightest traffic)</li>
    <li>Here, the controversy arises because the abstraction (recursion) of the internet failed to account for the complex material reality, such as China’s unique internet regulations</li>
</ul>

<p><mark><code>abstraction</code> and <code>recursion</code> are “evil” because</mark> contrived abstractions and recursions do not necessarily work in the same way as the complex problem they are trying to solve (not working as intended). Yet it is incredibly difficult to figure out exactly what went wrong because abstraction entails obscuring and hiding of the actual problem.</p>

<hr />

<h3><code>queueing</code> and <code>sorting</code></h3>

<ul>
    <li><code>queueing</code> is a ubiquitous practice in society — as a means to allocate resources;</li>
    <li>Despite a “digital abundance,” the structure of queueing persists, to uphold a system of waiting and deferral.</li>
    <li><code>queueing</code> goes in tandem with <code>sorting</code>: determining how to order the elements in a queue → determining the manner of allocation (first-in-first-out, ladies first, etc)</li>
    <li><code>sorting</code> necessarily entails <code>abstraction</code>: for a media system to sort, there must be some ways to reduce complex objects (subjects), such as people, into simple, mediated “keys,” such as names and ID numbers;</li>
</ul>

<p><strong> The rapid, large-scale, and uncontested roll-out of a “health code” system in China because of the epidemic</strong></p>

<video class="illustration" autoplay loop muted>
    <source src="static/video/w11/code.m4v">
</video>

<ul>
    <li>In this system, each person is assigned a QR code in three colors, indicating their evaluated risk of being infected by COVID-19.</li>
    <li>The code is calculated based on myriad factors, including their travel history and location of residence, aggregated from sources throughout the nation. The system is simultaneously enigmatic and swift: someone traveling freely with a green code may find themselves tagged red and forced to stay home the next day, their daily life jeopardized.</li>
    <li>Some fear the system will persist after the pandemic (as there is no legal basis nor safeguards) and finally realize the kind of social control seen in dystopian fictions.</li>
</ul>

<p><mark><code>queueing</code> and <code>sorting</code> are “evil” because</mark> such obscuration of complexity almost always leads to exceptions being overlooked, varieties being overridden, and nuances being flattened.</p>

<hr />

<h3><code>crowdsourcing</code></h3>

<ul>
    <li>
        <blockquote>
            <p>Crowdsourcing differs crucially from this earlier phase in the ways that the current means of extracting, working, and distributing collective intelligence operate through computational and networked digital media.</p>
        </blockquote>
    </li>
    <li>Examples: <em>hackathons, bug bounty programs, contests, open-source communities, <strong>CC BY-SA</strong></em></li>
    <li>Pay attention to the license (who owns the work, who can use it) and labor (who gets compensated … or not)</li>
</ul>

<p><strong>Open-source hardware design</strong></p>

<ul>
    <li>At the same time as the critical shortage of ventilators, masks, and PPEs become apparent, online open-source hardware communities flourished, as they race to develop low-cost and easy-to-use blueprints to ease shortages</li>
    <li>Does the proliferation of crowdsourcing design help mask the fact that the federal government is woefully inadequate in handling resource shortage?</li>
</ul>

<p><strong>Apple and Google’s COVID-19 contact-tracing system</strong></p>

<img class="illustration" src="static/graphics/w13/illus-1.svg">

<ul>
    <li>Apple and Google are partnering to jointly develop a disease contact tracing system, which uses Bluetooth signals to record other phones that a phone has been in close proximity to.</li>
    <li>With this crowdsourced data, in the case where someone is diagnosed with COVID-19, it would be much easier to find out their close contacts</li>
    <li>Problems: <em>privacy</em>, <em>app support</em>, <em>participation</em>; automated crowdsourcing systems do not automatically solve the problem because <em>they ultimately must rely on the participation of labor:</em> someone must agree to make their data available, healthcare providers must upload diagnoses to pair with location data</li>
</ul>

<hr />

<h3><code>social engineering</code></h3>

<ul>
    <li>The reversal of Searle’s “Chinese Room”: the machine is outside, and we are in the room –– the suppression of “mind” in the room.</li>
    <li>
        <blockquote>
            <p>Social engineering here is the skill of ensuring that inside the box, the instructions, from one source or another, are being followed correctly, no matter what they are.</p>
        </blockquote>
    </li>
</ul>

<p><mark><code>crowdsourcing</code> and <code>social engineering</code> are “evil,”</mark> because new and modern forms of exploitation and control render old forms of struggles (e.g. labor unions) increasingly ineffective.</p>

<hr />

<h3><code>rationalization</code></h3>

<ul>
    <li><code>algorithmic romance</code></li>
    <li>
        <blockquote>
            <p>At the same time as contemporary media establish new conditions for the arrangement of love, it also increasingly finds its echo in the proliferation of algorithmic approaches to romantic pursuits.</p>
        </blockquote>
    </li>
    <li><code>standardization of life</code></li>
    <li>
        <blockquote>
            <p>… No stage of a relationship is left unadvised; makeup tips for post-breakup good looks are a great way of combining advertorial with advice …</p>
        </blockquote>
    </li>
    <li><code>boredom as fuel (for content)</code></li>
    <li>
        <blockquote>
            <p>… an itchy, iterative kind of boredom, an irritation against doing something pointless, onerous, and endless. Symptoms of this irritation can momentarily be alleviated by clicking on a link, casting an eye on some porn, twitching on some game, catching up on the news, making a status update.</p>
        </blockquote>
    </li>
    <li><code>minimal signals</code></li>
    <li>
        <blockquote>
            <p>Sophisticated technology requires users to be enrolled into an economy of minimal movement (except for gestural interfaces at the scale of games).</p>
        </blockquote>
    </li>
    <li>
        <blockquote>
            <p>… software-based media forms offer a powerful set of devices for translating a range of background practices of everyday life into the new but deceptively familiar world of pointing and clicking, dragging and dropping, cutting and pasting.</p>
        </blockquote>
    </li>
</ul>

<p><strong>The surge in internet traffic; Netflix limiting video quality in Europe</strong></p>

<p><mark>They are “evil,”</mark> as software, data, and algorithms disguise themselves as the surrogate of our desire, emotions, and corporeal experience.</p>

{% endblock %}