{% extends 'templates/article.html' %}

{% set title = "Sound Project: Sound Survey" %}
{% set title_short = "Sound Survey" %}
{% set topic = "sound.final" %}
{% set bullet = "M" %}

{% set primary_page = 4 %}
{% set section_name = "Sound Project" %}
{% set section_accent = "red" %}
{% set section_description %}
<span>A sound survey of Newtown Creek. This audio project samples sounds as heard on or near Newtown Creek and present them through remixing.</span>
{% endset %}

{% block article %}
<audio controls>
    <source src="static/audio/sound-project/sound-project-final.m4a" type="audio/mp4"></audio>

<p><strong>Description</strong></p>
<p>This audio project is a sound survey of Newtown Creek and the neighborhoods in close proximity to it. It consists of two parts. The first part is an introduction to the sound elements in the ecology, which are grouped as “water,” “living beings,” and “machines.” After the introduction, the second part is a mixing of these elements. The choice to not use transitions between sounds in the second part serves to illustrate the contradiction between the environment and industrial production in the ecology. Left/right channel panning is used to recreate a sense of spaciousness.</p>
{% endblock %}

