{% extends 'templates/article.html' %}

{% block article %}

<p>Revised: Week 6</p>

<h2>Design thoughts &amp; notes</h2>

<ol>
    <li>As I mentioned in theory making #1, the tangible subject of this project must always be the environment as a whole. This poses practical challenges because Newtown Creek is a vast, enormous environment, both in terms of its absolute physical size and the complexity of its systems. As a result, it is imperative that the sound project pay attention to what’s <em>representative</em> of the environment. </li>
    <li>Currently, the sound project considers that the representatives can be separated into 1. the inorganic environment (the <em>stage</em>), 2. the living beings (the <em>actors</em>) (including humans), and 3. the change of the environment over time, as signaled (presented? mediated?) through sounds (the <em>story</em>). </li>
    <li>Sound as a medium is simultaneously limited and powerful in affect. In comparison to, for example, images, it carries significantly less information. Yet at the same time, unlike images, which have the property of being “long-term” (for example, we can stare at it, or look at it later), sounds are ephemeral. Its presentation runs strictly forward in time (rewinding disrupts the presentation, and is not desired for a media presentation). As a result, this sound project should utilize this aspect of sound, and consider: how can the representation of space (which is an important matter in this ecology study) in terms of time.</li>
    <li>Time is also the most important function in a sound because time progression is the most significant way through which the sound can suggest relationships (other than narrations and speech, in which case it is the language and not the sound that is the medium). For example, the <em>synchronization</em> of distinct sounds may imply <em>spontaneity</em> or <em>coexistence,</em> while the <em>sequential</em> appearance of sounds may imply <em>causality</em> or <em>transistion.</em> </li>
</ol>

<h2>1. The environment as space</h2>

<ul>
    <li>The purpose of this part of the sound project is to <em>unpack</em> Newtown Creek, to turn it from a single, uniform, generalized label into an assemblage of localities (after all, the creek flows through several neighborhoods in Brooklyn and Queens).</li>
    <li>For it to do so, I plan to:

        <ol>
            <li>Select, on a map, points on the river that is of equal distance to one another (in terms of mileages, the interval to be determined);

                <ul>
                    <li>Here, an interval selection is favored over choosing point-of-interests because it wishes to present a non-deliberated look into the multitude of the different areas of Newtown Creek. (This goes after the method of systematic sampling in statistics)</li>
                </ul>
            </li>
            <li>Find out the closest locations to such points that are publicly accessible;</li>
            <li>At each location, record the ambiance for 3 to 5 minutes, with the recording orienting towards the river; it may also be a good idea to record, not just on-site, but also the change in ambiance as I approach the location (for example, from Greenpoint Ave (G) to the Greenpoint Ave footbridge)</li>
            <li>These segments will then be assembled as a sound-montage;</li>
        </ol>
    </li>
</ul>

<p></p>

<h2>2. Evidence of things</h2>

<ul>
    <li>The purpose of this part is to present the multitude of “things” in the environment of Newtown Creek. Each distinct sound in the clip will suggest the <em>presence</em> of a certain subject, while the abundance of different sounds implies their <em>salience</em> in the environment.</li>
    <li>For the purpose of this recording, “things” refer to inorganic objects and organic entities including plants, animals, and humans. </li>
    <li>This recording should conduct deliberately selected close-up recording. That is, it should choose what to record and then point the recorder directly at things so as to place the sound front and center. Preferably, the recorder should stay motionless so as to minimize noises. </li>
    <li>Examples of the sounds may include the sound of the water flow, bird noises, traffic, wind-blowing, the percussion of machine parts, and human murmurs. (Special attention must be paid to people’s privacy).</li>
    <li>Note on post-production: an idea is to mix-up sounds from different objects at different points in time together by deliberately altering their sound characteristics (e.g. through changing the reverb), such that they appear in sync but from different “directions” (imagine a “symphony”). I am however still considering the implication of doing so.</li>
</ul>

<h2>3. Voices</h2>

<ul>
    <li>This is the verbal element of the sound project. It aims to document the human culture surrounding Newtown Creek. This part would be done primarily through talking, although not necessarily as interviews. </li>
    <li>I decide to accept a wide range of verbal messages as being useful to this project: serious discussion about the recovery effort of the river should be considered as valid as the denial to converse. That is, except in the cases where the person’s permission to the recording is not forthcoming, even a series of don’t-knows or don’t-cares should be included in the eventual clip.</li>
    <li> I plan to find people in the vicinity of the waterfront and ask them about their knowledge of and experience with the river.</li>
    <li>I am currently exploring possibilities to speak with the Newtown Creek Alliance, a community-based group dedicated to document Newtown Creek’s history, as well as keeping track of the City’s environmental recovery progress as well as and industries’ environmental cleanup efforts. If possible, I would like to speak with them about their work as well as the challenges that they faced/are facing. Following are some of the questions that I would like to ask:

        <ul>
            <li>“What kinds of tasks do you take on?”</li>
            <li>“What are or have been some of the difficulties (bureaucratic, resource-wise, etc) you have encountered while interacting with the City?”</li>
            <li>“How have industries along the river responded to regulations required by environmental protection agencies, and for companies tasked with clean-up efforts, how have they followed with the plan?”</li>
            <li>“What are some of the latest changes in the City’s effort to recover the ecosystem in Newtown Creek?”</li>
        </ul>
    </li>
</ul>

{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Sound Project Proposal",
        "navigation": {
            "color": "blue",
            "order": 11
        }
    }
</script>
{% endset %}