{% extends 'templates/article.html' %}

{% set title = "Sound Project: Scratch Tracks" %}
{% set title_short = "Scratch Tracks" %}
{% set topic = "misc.sound_scratch" %}
{% set bullet = "Z" %}

{% block article %}
<audio controls>
    <source src="static/audio/recordings/200302_0209.m4a" type="audio/mp4"></audio>
<audio controls>
    <source src="static/audio/recordings/200302_0217.m4a" type="audio/mp4"></audio>
<audio controls>
    <source src="static/audio/recordings/200302_0225.m4a" type="audio/mp4"></audio>
{% endblock %}

