{% extends 'templates/article.html' %}

{% block article %}
<audio controls>
    <source src="static/audio/recordings/200302_0209.m4a" type="audio/mp4"></audio>
<audio controls>
    <source src="static/audio/recordings/200302_0217.m4a" type="audio/mp4"></audio>
<audio controls>
    <source src="static/audio/recordings/200302_0225.m4a" type="audio/mp4"></audio>
{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Sound Project: Scratch Tracks",
        "color": "magenta"
    }
</script>
{% endset %}