{% extends 'templates/article.html' %}

{% block article %}
<video controls>
    <source src="static/video/video-project/scratch/C0003.mp4" type="video/mp4"></video>
<video controls>
    <source src="static/video/video-project/scratch/C0004.m4v" type="video/mp4"></video>
<video controls>
    <source src="static/video/video-project/scratch/IMG_1685.mp4" type="video/mp4"></video>
{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Video Project: Scratch Clips",
        "color": "red"
    }
</script>
{% endset %}