{% extends 'templates/article.html' %}

{% block article %}
<h2>Concept - Newtown Creek: Symphony of a Polluted River</h2>

<p>— after “Berlin: Symphony of a Metropolis”</p>

<p>— <em>nach „Berlin – Die Sinfonie der Großstadt“</em></p>

<ul>
    <li>The concept of a “symphony” plays into similar ideas from the sound proposal (where we had “stages” and “actors,” etc.).</li>
    <li>However, instead of a three-segment design, where each segment take on a different conceptual role (such as hinting at subjects vs. providing textual information), this video project has a multi-act design, where each segment is formally the same (an act in play) but content-wise different, meaning each will present actors and stories but will focus on a different set of actors and tells a different story.</li>
    <li>The stories are <em>authored.</em> That is, there will not be a segment running in the style of the first sound segment, which is strategically systematic. </li>
    <li>Each act (story) are written after a historical or current <em>emergence</em> in the Newtown Creek (such as the oil spill and the sewage overflow). </li>
</ul>

<h2>Justification</h2>

<ul>
    <li>Compared to audio, visual mediums (photos and videos) enjoy enormously larger bandwidth. Video runs on two distinct dimensions: the axis of time and the two-dimensional image space. This yields much freedom in deciding how to present individual elements and convey relationships between them. </li>
    <li>The caveat of a larger information bandwidth is that it easily exceeds what human’s are comfortable with. This means that some affect as presented through the video will get lost in transition, and the audience <em>will</em> miss details. Deliberately create stories is a way to direct the attention (and also to subtly convey messages).</li>
    <li>For this assignment, which eventually yields one final video, it makes more sense to produce formally coherent segments that not (such as making a montage of recording and then an interview).</li>
    <li><em>(Alternative idea):</em>A documentary?<em>
        </em></li>
</ul>

<h2>Production</h2>

<ol>
    <li>Story-writing

        <ul>
            <li>Pick out major events (emergences) in the history of the creek (current candidates are the Greenpoint Oil Spill and a current/future CSO event, one pending). </li>
            <li>Look at the “things” in it: the actants. And reimagine them as actors.</li>
            <li>Write out the event as a succession of actions, each having an affect on the subsequent ones.</li>
        </ul>
    </li>
    <li>Filming

        <ul>
            <li>The filming will be focused (in the sense of framing) on the actors. Their actions can be implied through literal movements, the lack thereof, or through textual elements / signs.</li>
        </ul>
    </li>
    <li>Editing

        <ul>
            <li>The primary format (<em>shape</em>) of the video will be of a montage. </li>
            <li>There will be no post-production collage making. That is, each clip will receive the full area of the screen.</li>
            <li>There will not be intertext except between acts

                <ul>
                    <li><em>(Alternative idea)</em>: there may be intertexts between clips so as to progress the story (“Symphony” does not do this, but earlier silent films do)</li>
                </ul>
            </li>
        </ul>
    </li>
</ol>

{% endblock %}

{% set metadata %}
<script type="application/json">
    {
        "name": "Video Project: Proposal",
        "navigation": {
            "color": "red",
            "order": 30
        }
    }
</script>
{% endset %}