{% extends 'templates/article.html' %}

{% set title = "Video Project: Navigating the Pandemic" %}
{% set title_short = "Video Project" %}
{% set topic = "video.final" %}
{% set bullet = "Q" %}

{% set primary_page = 5 %}
{% set section_name = "Video Project" %}
{% set section_accent = "magenta" %}
{% set section_description %}
<span><em>For the uninitiated readers from the future:</em> the original project of this website, which was the
    ecological study of Newtown Creek, was interrupted in March 2020 CE due to a global pandemic named
    <strong>"COVID-19"</strong> — by April, over a million people in the United States were infected, and thousands of
    people died everyday. As normal life was thoroughly disrupted, I began documenting the precarity of COVID-19
    instead.
    <br>
    This video project is a documentation of my experience as I travel from the US back to my hometown in China.
</span>
{% endset %}

{% block article %}
<video controls>
    <source src="static/video/video-project/video-final-480p.mp4" type="video/mp4"></video>
{% endblock %}