{% extends 'dmtp/base/article.html' %}
{% load dmtp %}

{% block article %}

{% figure 'img/greenpoint-ave/w3-4.jpg' %}

<p>I “visited” Newtown Creek on a cold, rainy February afternoon. Newtown Creek isn’t a single locality that one can
    simply “visit.” The creek is 3.5 miles long, a tributary of New York’s East River, running along the boundary
    between Brooklyn and Queens, alongside the neighborhoods of Greenpoint, Sunnyside, Maspeth, and East Williamsburg.
    It is also one of the most heavily polluted rivers in the United States.</p>

<p>Here is a brief recap of the creek’s past, as detailed in Niles Eldredge and Sidney Horenstein’s book, <em> Concrete
        Jungle.</em> Before heavy industries arrived on its shores, it was used by farmers on nearby lands on Long
    Island to transport their fresh produce into the city. Soon after the 1860s, petroleum refiners rushed into the
    shores of Newtown Creek, as New York City is on its way to becoming the nation’s manufacturing powerhouse. Oil
    refineries then rushed into the creek more chemical plants, who were more than eager to digest all the by-products
    of petroleum refining and turn them into money. During the time of environmental non-regulation, some of nature’s
    harshest toxins and pollutants were pumped into the air about, drained into the waterway, dumped near its shore, and
    slowly seep into the riverbed. Protests from nearby communities had few effects, and early pollution regulations
    were often rendered toothless as they arrived at the Congress. For much of the twentieth and early twenty-first
    century, wildlife was nearly non-existent in Newtown Creek (while oil companies with evolving names such as
    “ExxonMobil” flourished and rooted in the riverbank to this day). Designated as a Superfund site in 2010, the creek
    remains polluted, given that it no longer receives freshwater sources. The cleanup of the creek is still in the
    planning stage.</p>

<p>Now, what is perhaps true about today is that we are already saturated with news about the environment. Flashing
    images and videos about the latest environmental catastrophe, from disintegrating ice caps to the Australian
    bushfires, have perhaps rendered a lethargy in many consumers of media, me included: they evoke in us, either a
    response of indifference or perhaps a brief, generic sense of concern, which would soon be washed away with more
    occupying thoughts. This blog post should make no difference. These mediated facts about the environment lack in
    what Teresa Brennan would call affective energy.</p>

<p>In the first chapter of her book, <em>The Transmission of Affect,</em> Brennan talks about this seemingly unusual
    aspect in psychology: it is the “atmosphere” that one “feels” as they enter the room; it is what she calls “the
    physiological shift accompanying a judgment.” The keywords here are “physiological” and “judgment”: “physiological”
    emphasizes that affect is not simply imagined, or “in the mind,” but is a “real” (to badly put it) physical response
    in our body, and “judgment” implies that affect is more than simple, sensory “feelings” such as “cold” or “painful,”
    but is always in connection with meanings: how we interpret and process what we sense.</p>

<p>To me, the difference between being <em>in</em> Newtown Creek and reading about Newtown Creek on the screen (as you
    are doing right now) is ultimately the difference between “in the atmosphere” of affect and the lack of affective
    power. I read that the creek is the site of America’s largest oil spill in history, the waterbed remains covered in
    oil and “sludge acid,” etc, but I take in no other than mere “information,” as I am sitting comfortably in the
    library. Meanwhile, as I was walking along Greenpoint Avenue towards the river, I was greeted, first with a smell of
    sharp odor from industrial exhaust lingering in the air, to the familiar sight of salons and delis along the street
    slowly giving away to barbed-wires on top of concrete walls and tree-less streets. Standing on Kosciuszko Bridge
    (which carries the busy I-278 freeway) means getting inundated by sounds of engines and sights of broken metals and
    dead trees.*</p>

<p>It is more than just my physical irritation from the smell and the noises. Because together, these “things” assault
    me with senses of strangeness and uneasiness, as I find myself in an ecology that is alien to me, and even slightly
    hostile. For Brennan, such impressions of Newtown Creek on me is the “transmission of affect,” from the environment
    to my body. At the same time, “being out-of-place” would describe me standing on the bridge over Newtown Creek as
    much as it would describe Newtown Creek being in New York City. What I saw was the humdrum of oil refineries and
    sewage plants juxtaposed against the backdrop of Manhattan’s and Long Island City’s shimmering skyline,* and the
    irony here is that Newtown Creek is simply “out of sight, out of mind” for the people (such as me) in Midtown, on
    Union Square, or even in Williamsburg, which is just a bit south of the river. As much as the affective power of the
    smoke and the sewage is all too powerful when one is situated in it, such affective power is also highly localized
    in this case.</p>

<p>And so this leads to the biggest challenge that I would face in this project, which speak through media, which
    demonstrably fails to transmit the many affective aspect of the peril to the environment, about the affect in
    Newtown Creek — especially when we are increasingly accustomed to taking what is on the screen as a replacement for
    what is “in real life”: false emotions and feelings as substitutes for affect. To me, this challenge is a challenge,
    not about <em>representing</em> (say, for example, dramatizing) Newtown Creek, but about <em>presenting</em> it.</p>

{% endblock %}

{% block citation %}
{{ block.super }}
<h6>Brennan, Teresa. “Introduction.” <em>The Transmission of Affect.</em> Cornell University Press, 2004. JSTOR, <a
        href="https://www.jstor.org/stable/10.7591/j.ctt5hh05z">www.jstor.org/stable/10.7591/j.ctt5hh05z.</a> </h6>

<h6>Eldredge, Niles and Horenstein, Sidney. “Fouling, and Cleaning, the Nest.” <em>Concrete Jungle: New York City and
        Our Last Best Hope for a Sustainable Future,</em> 1st ed., University of California Press, 2014, pp. 131–159.
    JSTOR, <a href="https://www.jstor.org/stable/10.1525/j.ctt13x1gw7.8"> www.jstor.org/stable/10.1525/j.ctt13x1gw7.8
    </a>.</h6>
{% endblock %}