{% extends 'dmtp/base/article.html' %}
{% load dmtp %}

{% block article %}

<p><em>The coronavirus interlude.</em></p>

<p>This video project will be a document of “looking at” and “listening to” the isolation.</p>

<p>I am currently placed under 14-day compulsory isolation in a hotel in Shanghai after managing to fly back to China
    from New York on March 19, a few days after NYU announced it would close its residence halls.</p>

<p>In this new video project, my own visual and audio experience of the isolation becomes the subject of the video — the
    camera will now have to recreate what I have seen and heard during my time in isolation as accurately as possible.
    In other words, this video should consist of montage (of short clips) of what I see and hear (and therefore do) in
    “a day in isolation”: me reading the thermometer, me listening to the footsteps outside my room, etc. The clips
    should be ordered according to the time of day in which they occurred. </p>

<p>Now, in many ways, this is similar to a vlog. However, unlike the usual vlogs we see on social media, I intend this
    video project to be 1) manifestly mundane and repetitive, and 2) mostly quiet. I intend to not narrate my
    experience. </p>

<p>There are a few possible subjects in the video, and one can roughly separate them into two categories. </p>

<p>The first category of subjects is analog and (mostly) non-textual: the thermometer, the wall, the doorknob, the chair
    outside the door (where they place my meals), etc. Mandatory isolations like this is a severe restriction on one’s
    sensory perception. In terms of the physical, the world one can experience collapses into this small concrete room.
    And perhaps similar to how a person who is recently turned blind may find their hearing increasingly sharpened, as I
    am in isolation, I become increasingly attentive to the minuscule stimuli that I would otherwise not notice, from
    the A/C’s low humming to my own sneezing and coughing (the attention to my own corporeal experience is further
    heightened by the constant fear that I may have been infected). That I am confined to this space also means that any
    stimulus originating from out of this space, such as footsteps in the hallway and cars outside, becomes a great
    source of intrigue. In the video, my audiovisual attention to these mundane stimuli is the camera’s attention to
    these mundane stimuli.</p>

<p>In contrast with this first category of subjects, the second category of subjects are “digital” and textual — they
    are what&#39;s on the screen, and what&#39;s coming from the speaker. The key (and pretty much the only) difference
    between my mandatory isolation and a house arrest/solitary confinement is that I still have access to communication
    with the outside. In fact, there is a greater volume of such communication, because my brain is eager to make up the
    loss of physical stimuli from the outside with the increased attachment to the internet. Thus this creates a
    contradiction in terms of the boundary of my “observable world”: while my physical world is restricted and
    well-regulated, amid the assault from all the emails, messages, notifications from The New York Times, YouTube
    videos, and Zoom meetings, there seems to also be a break-down of the boundary. Both the deluge of digital
    information and its contrast with the lack of physical stimuli are a great source of anxiety, behind which are the
    senses of uncertainty, lack of useful information (as compared to an overabundance of seemingly important but
    actually mildly relevant information), and powerlessness from the inability to act. Since such feelings come from
    these digital “things” but also from the fact that I looked at them, I wish to present them in the video by filming
    them as they appear on the screens.</p>

<p>In my experience during the isolation, these two kinds of subjects tend to operate in a feedback loop. For example,
    my occasional coughing after knowing I have a normal temperature would lead me to jump out of bed and Google “COVID
    19 without a fever,” and then after reading which I would become even more focused on my own breathing and feeling,
    given the anxiety. In the video, such a series of action naturally translate to a series of short clips, which would
    imply some causality in between them. I imagine that this would be how most of the video would look like: a clip of
    looking at an analog object (e.g. the thermometer), with me coughing offstage (audio-only), a clip of looking at a
    “digital” object (e.g. Google results), and then repeat. </p>

<p>Because of this structure and the focus on the sensory experience, I also intend the video to have no non-diegetic
    elements, such as titles, graphics, and special effects (other than perhaps crossfades), except when it’s necessary
    due to accessibility reasons such as translation of non-English texts. Many tasks, such as introduction and
    segmentation, that these non-diegetic elements take will then be implied through diegetic elements. For example, to
    start the video, I may film (the reenactment of) the appearance of President Hamilton’s March 16 email on the
    screen.</p>

<hr />

<p>I had the “privilege” of having managed to get plane tickets in time to depart from New York City on March 17, and so
    my mandatory isolation period ends on April 2. Therefore, a possible second part of the video project would be my
    experience after the isolation. China is currently near the end of the country-wide lockdown, with businesses and
    factories reopening, and schools expected to resume as early as next week. If possible, then the second part would
    be the looking-at and listening-to of a country in the aftermath of the extensive (economic, psychological) damage
    of the epidemic.</p>
{% endblock %}

{% block citation %}
{% endblock %}