{% extends 'dmtp/base/article.html' %}
{% load dmtp %}

{% block article %}

<blockquote>
    <p>In the more primitive organisms, this autonomization is accomplished by organism-wide networks of interoceptive
        and exteroceptive sense-receptors whose impulses are not centralized in a brain.</p>
</blockquote>

<p>— Brian Massumi, “The Autonomy of Affect”</p>

<blockquote>
    <p>Between 16:10:36 and 16:13, a period of less than a minute and a half, a chain reaction of thousands of events
        occurred on the grid, driven by physics and automatic equipment operations. When it was over, much of the
        Northeast was in the dark.</p>
</blockquote>

<p>— NERC, <em>Technical Analysis of the August 14, 2003, Blackout</em></p>

<p>Reading Jane Bennett infuses things around me with a kind of charming glow — or to borrow a word Bennett has used: it
    makes things “enchanted.” In <em>Vibrant Matter,</em> Bennett proclaims that all things, and not just living things
    (such as humans), have vitality. </p>

<p>Bennett pursues materialism, but not in the stern, structured, and macroscopic manner of the Marxian materialism.
    While the Marxist materialism puts forth a demystification of human society that is total and resolute, in Bennett’s
    writing, such demystification is careful and subtle. Throughout her text, Bennett sounds the alarm against an
    anthropocentric view of the world, in which human agency becomes the director of all things non-human, and all
    things non-human have no utilities beyond the interpretation of human culture. In place of this human agency,
    Bennett argues for the notion of “actant” — materials are actants, as they have the power, or the energy or
    “potential,” to act. (The key takeaway here for staunch supporters of free agency here is that things do not need
    “agency” to act.)</p>

<p>Bennett turns further towards a distributive view of such acting power: not only do things act, but they also act
    together. This “assemblage” of things is heterogeneous (consisting of different things). It is also “affective,”
    meaning that things in an assemblage not only act at the same time, they are also in a constant flux of influence
    from one another. Here, the idea of assemblages of, <em>and as,</em> actors is for me inspiring as much as it is
    slightly frustrating. For example, Bennett began her example of an assemblage, the 2003 Northeast blackout as such:
</p>

<blockquote>
    <p>… the electric grid is better understood as a volatile mix of coal, sweat, electromagnetic fields, computer
        programs, electronic streams, profit motives, heat, lifestyles, nuclear fuel, plastic, fantasies of mastery,
        static, legislation, water, economic theory, wire, and wood — to name just some of the actants.</p>
</blockquote>

<p>It is inspiring to see that so many different kinds of actants are involved in one of the largest blackouts in
    history. It also raises questions for uninitiated readers of assemblages (readers such as me), such as: if
    everything has a vitality and the power to act, then where do I start reading? Hence the demystification in
    Bennett’s text is subtle: structural approaches such as anthropocentrism are appealing because they provide an “easy
    way out” by conjuring up differences (classes, structures) in things for us to look at, but such distinctions are
    invalid in Bennett’s assemblage, and untrained minds (such as mine) are at a loss.</p>

<p>Brian Massumi, in “The Autonomy of Affect,” also recognizes the assemblage of things. Bennett’s and Massumi’s
    thoughts on assemblage complement each other, in that Bennett emphasizes the matter of distribution, that is, the
    distributive acting power, while Massumi makes clear a framework dealing with the interaction of these distributed
    actants. Notably, Massumi emphasizes the process of “emergence.” Emergence is the process through which affective
    potential becomes “known” to us. On one end of this process is affect, on the other end, signifiers, that is, our
    cognition of affect. Moreover, Massumi recognizes that there is no categorical difference between an assemblage of
    atomic matter and an assemblage of humans, except that they manifest different levels of complexity. Thus, Massumi
    returns to what Gilles Deleuze means by “ontologically one, formally diverse.” Taken together, Bennett and Massumi
    reveal a “fact of life” hidden beneath our usual and convenient understanding of what it means to be “organic.”</p>

<hr />

<p>What it means for this project is that the focus on assemblage implies a focus on processes.</p>

<p>In the last blog post, I made an argument: that the failure of today&#39;s media in mediating the precariousness of
    environmental issues is in the failure to transmit the affective aspect of them. Here I develop this argument
    further: the failure of media objects to transmit the affect of the environment lies in its obsession over the
    manifested <em>signs</em> of environmental issues, mistaking it as the precarity itself, and as a result, its
    negligence over the affective <em>process</em> behind the signifiers. Thus while the images of sewage are signs of
    the issue, a media artifact that successfully makes visible the affective aspect does not fixate upon the mere image
    but strives to unravel the process behind it (e.g. combined sewage overflow). The “presenting” part of this project
    becomes the presenting of the chaotic affect exchange behind the scene.</p>

{% endblock %}

{% block citation %}
{{ block.super }}
<h6>Bennett, Jane. <em>Vibrant Matter : A Political Ecology of Things.</em> Duke University Press, 2010. ProQuest Ebook
    Central, <a href="">ebookcentral.proquest.com/lib/nyulibrary-ebooks/detail.action?docID=1170671 </a>.</h6>

<h6>Massumi, Brian. “The Autonomy of Affect.” <em>Cultural Critique,</em> no. 31, 1995, pp. 83–109. JSTOR, <a
        href="https://www.jstor.org/stable/1354446">www.jstor.org/stable/1354446</a>.</h6>
{% endblock %}