{% extends 'dmtp/base/article.html' %}
{% load dmtp static %}

{% block metadata %}
{{ block.super }}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" content="{% static 'img/meeker-ave/w6-hungry-24.jpg' %}" />
<meta name="twitter:image" content="{% static 'img/meeker-ave/w6-hungry-24.jpg' %}" />
{% endblock %}

{% block header %}
<h1 class="h1-fullsize">Hungry?</h1>
{{ block.super }}
{% endblock %}

{% block article %}

<section>
    {% actor 'img/morgan-ave/w6-hungry-8.jpg' 'actor-1' %}
    {% actor 'img/morgan-ave/w6-hungry-7.jpg' 'actor-2' %}
    {% actor 'img/morgan-ave/w6-hungry-13.jpg' 'actor-7' %}
    {% actor 'img/morgan-ave/w6-hungry-6.jpg' 'actor-3' %}
    {% actor 'img/varick-ave/w6-hungry-2.jpg' 'actor-8' %}
    {% actor 'img/morgan-ave/w6-hungry-11.jpg' 'actor-4' %}

    <p>“North Brooklyn Industrial Business Zone” — such is the name much of the neighborhoods of Greenpoint, Maspeth,
        and East Williamsburg has been designated in a <a
            href="https://www1.nyc.gov/site/planning/plans/north-brooklyn-vision-plan/north-brooklyn-vision-plan.page">2018
            New York City city planning report.</a> Together with the Maspeth IBZ and the Long Island City IBZ, they
        form a large industrial core in the City’s geographic heart, between Queens and Brooklyn. Flowing through these
        zones is Newtown Creek.</p>
    <p>Much of the area’s heavy industries have moved out since the 1960s, due to a mix of factors such as shifting
        labor cost and relocation of production chains. Today, energy companies (ExxonMobil, National Grid) remain on
        large plots of land within Greenpoint and Maspeth, while areas near the upstream of Newtown Creek is dominated
        by wholesale businesses, food manufacturing industries (photos above), as well as warehouses.</p>
</section>

<div class="space" role="presentation" aria-hidden="true"></div>

<section>
    {% actor 'img/varick-ave/w6-hungry-3.jpg' 'actor-10' 'Food (for machines)' %}
    {% actor 'img/maspeth-ave/w6-hungry-19.jpg' 'actor-11' 'Drinks (for machines)' %}
    {% actor 'img/maspeth-ave/w6-hungry-17.jpg' 'actor-12' 'Dead end.' %}

    <p><a href="http://nysdecgreenpoint.com/ProjectHistory.aspx">On September 2, 1978,</a> during a routine patrol, a
        U.S. Coast Guard helicopter spotted swaths of black water on Newtown Creek’s surface near Greenpoint. One of
        America’s largest oil spills known today as the Greenpoint Oil Spill, it began back in 1950. By the time it was
        discovered, an estimated 17 gallons (64.3 liters) of petroleum have spilled under more than 52 acres (0.21
        square kilometers) of land in Greenpoint.</p>
    <hr />
    <p>Talking of the Greenpoint Oil Spill as a single, isolated event, with discrete doers such as the oil companies,
        masks the complex systems and processes behind the spill. Crude oil, metal tanks, soil, residents, water, oil
        companies, fish, legislations, and many more “actants,” affect each other in chaotic ways. Together, they
        represent an <a href="https://ebookcentral.proquest.com/lib/nyulibrary-ebooks/detail.action?docID=1170671">
            “assemblage” of things.</a></p>

    <figure>
        <object id="oilspill" type="image/svg+xml" tabindex="-1"
            data="{% static 'graphics/illustrations/theory-making-2-greenpoint-oilspill.svg' %}" class="actor">
        </object>
        <figcaption>Extent of the Greenpoint Oilspill</figcaption>
    </figure>

    <p>In the oil spill, petroleum and related liquids (oils, naphtha, kerosene, gasoline, etc), together called a “free
        product plume,” rest on top of the river bed and have affected the soil and groundwater. Newtown Creek’s
        riverbed is covered a pool of black, viscous pollutants, constantly releasing chemicals into the water above.
        The aquifer (permeable rock) under Greenpoint, which is contaminated with the majority of the spilled oil,
        continues to supply oil plume to the river through constant groundwater exchange.</p>
    <p>Pollutants, now freely-floating/dissolved in the river, enter living things easily. They get absorbed by algae,
        which are primarily consumed by small fish and shellfish. Chemicals then travel up the food chain, as smaller
        organisms get consumed by large ones. Through bioaccumulation, toxins get more concentrated as they are taken in
        by animals of higher orders, such as birds and mammals.</p>

    {% actor 'img/morgan-ave/w6-hungry-5.jpg' 'actor-9' 'Swimming: toxins to the skin. Eating: toxins in the body.' %}

    <p>The oil spill is not the only source of pollution in Newtown Creek. Since the beginning of heavy industries along
        the river, it has been used as drainage for all the toxic wastes. During heavy rainfall, rainwater overwhelms
        the City’s sewage system. As a result, sewage, both residential and industrial, backs and eventually spills into
        natural waters, bringing ground level wastes (trash, and, well, solid toxins) with it. This is called a Combined
        Sewage Overflow event — another form of assemblage, spontaneously formed and dissolved. Newtown Creek is a major
        outfall for such events.</p>

    <p>In these assemblages, humans are merely one of the myriad actors.</p>
    <p>In an urban environment, at the end of the food chain is usually human. New Yorkers, if they were unaware of the
        pollution, harvest food from the river and consume it and get sick too. </p>

    {% actor 'img/metropolitan-ave/w6-hungry-21.jpg' 'actor-5' 'Still hungry?' %}
    {% actor 'img/metropolitan-ave/w6-hungry-4.jpg' 'actor-6' '' %}

    <p>During floods and storm surges (e.g. hurricanes), sewage will eventually flood back into the street, onto the
        curbs, into restaurants, bodegas, salons, supermarkets, houses …</p>
</section>

<hr />

<section>
    {% actor 'img/maspeth-creek/w7-gallery-5.jpg' 'actor-21' '' %}

    <p><em>Assemblages of consumption</em></p>

    <p>Environmental topics such as oil spills and sewage overflow reveal our very <em>convenient</em> relationship with
        the environment.</p>
    <p>Humanity&#39;s progress in industrialization and modernization (also, capitalism) has been compelled by a sense
        of resource scarcity. We are all hungry for materials. Materials are scarce. If I don’t grab the chip, someone
        might get it.</p>
    <p>Yet conveniently, humanity&#39;s progress in industrialization and modernization has also been supported by a
        (false) sense that the environment is an endless pit for all the waste that is excreted.</p>
    <p>Each company, each factory (along the river), takes care of its own flow of resources. Consumers (“customers”)
        also take care of their own. Each of these material flows is an assemblage of things, and each assemblage is
        most conscious of their own. </p>
    <p>But ultimately, the environment itself is an assemblage — an assemblage of smaller systems (smaller assemblages)
        — and businesses and consumers are closely tied to the environment, in ways they are unaware of or choose to
        ignore.
    </p>
    <p>Assemblages, as they share common actants, do and will affect each other. System-wide (environment-wide) changes
        affect all systems, through mechanisms and power that are constantly in flux throughout the environment. Yet the
        small, hungry assemblages pay no attention.</p>
    <p>That assemblages is in a constant dynamic and affect one another, dictates that the environment will feedback to
        human’s ignorance of the environment as a system they are inseparable from. At a certain point, the
        environment’s “hidden” potential emerges from within and turns outward. Petroleum emerges to the water surface.
        Sewage overflows into the river. People get sick from consuming toxins.</p>
</section>

<section>
    {% actor 'img/metropolitan-ave/w6-hungry-30.jpg' 'actor-13' '' %}
    {% actor 'img/maspeth-ave/illustration-theory-affect-1.jpg' 'actor-14' 'Explusion: the other end of consumption.' %}
    {% actor 'img/meeker-ave/w6-hungry-28.jpg' 'actor-15' '' %}
    {% actor 'img/meeker-ave/w6-hungry-26.jpg' 'actor-16' '' %}
    {% actor 'img/meeker-ave/w6-hungry-25.jpg' 'actor-17' 'Sparkling water for drink?' %}
    {% actor 'img/meeker-ave/w6-hungry-22.jpg' 'actor-18' '' %}

    <p>Industries, businesses, and consumers are hungry. City planning is hungry too. As New York City outlines its plan
        to bring “industry” and “innovations” back to North Brooklyn, “preexisting environmental conditions” get
        attention the last. Writing about the challenges industrial businesses are facing, in the City’s report, it
        says,</p>
    <blockquote>
        <p>Bulkheads along Newtown Creek are deteriorating, but many businesses cannot afford the expense of repairs;
            the Creek’s Superfund status also makes approvals for repairs more complex and onerous.</p>
    </blockquote>
    <p>The environment is a nuisance. It is the appendix. But “complex and onerous” are culturally constructed signs —
        they are feelings, which the environment and its affect pay no attention to. It will be “complex and onerous”
        until unexpected, chaotic situations emerge in the environment. Then it becomes painful and costly.</p>

    {% actor 'img/meeker-ave/w6-hungry-27.jpg' 'actor-19' '' %}
    {% actor 'img/meeker-ave/w6-hungry-24.jpg' 'actor-20' '' %}
</section>

{% endblock %}

{% block citation %}
{% endblock %}