$darkest: #1a1e23;
$darker: #21252c;
$dark: #272c33;

$onedark-black: #272c33;
$onedark-gray: #abb1bf;
$onedark-white: #d3d3d3;
$onedark-blue: #5cadf1;
$onedark-blue-darker: #3c8dc1;
$onedark-cyan: #51b5c3;
$onedark-green: #96c475;
$onedark-magenta: #c774df;
$onedark-red: #e26a72;
$onedark-yellow: #d29a61;

$std-yellow: #ffee00;