.gallery {
    width: 90%;
    height: 90%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;

    align-content: space-around;
    justify-content: space-evenly;

    .tile-container {
        overflow: hidden;
        flex: 0 1 45%;
        margin: 1% 1%;
    }

    .media-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}