@use 'colors';

h1 {
    color: colors.$ulysses-pink;
    font-weight: 300;
    font-size: 4rem;
    text-align: right;
    margin: 40vh 0 50vh;
}

.actor {
    display: flex;
    width: 100%;
    margin: 0 0 5% 0;

    flex-flow: column wrap;

    align-content: space-around;
    justify-content: space-around;

    .subway-label {
        margin: 0 0 0 auto;
        font-size: 1em;
        white-space: nowrap;
    }

    figure {
        margin: 0;
    }
    
    figcaption {
        text-align: center;
        padding: 0.5rem 0;
    }

    .actor-container {
        box-sizing: border-box;

        margin: 0 auto;
        width: 100%;
        height: 64vh;

        @media screen and (min-aspect-ratio: 2/1) {
            width: 70%;
            height: 90vh;
        }

        display: flex;

        .actor-container-frame {
            overflow: hidden;

            margin: auto;
            width: unset;
            height: unset;
            max-height: calc(100% - 32px);
            border-radius: 16px;
        }

        img {
            position: relative;
            object-fit: contain;
            object-position: 50% 50%;
            width: 100%;
            height: 100%;
            transform-origin: center;

            transform: none;
            transition: transform 0.3s cubic-bezier(0, 0, 0, 1) 0s;
        }

        &.zoomed-in {
            margin: 16vh auto;
            width: 32vh;
            height: 32vh;

            @media screen and (min-aspect-ratio: 2/1) {
                margin: 15vh auto;
                width: 60vh;
                height: 60vh;
            }
    
            .actor-container-frame {
                width: 100%;
                height: 100%;
                max-height: unset;
            }

            &#actor-1 img {
                transform: scale(4) translate(-0.5%, 8%);
            }
    
            &#actor-2 img {
                transform: scale(5) translate(0, 0);
            }
    
            &#actor-3 img {
                transform: scale(5) translate(0, -1%);
            }
    
            &#actor-4 img {
                transform: scale(6) translate(-35.5%, 12%);
            }
    
            &#actor-5 img {
                transform: scale(3) translate(0, 15%);
            }
    
            &#actor-6 img {
                transform: scale(3.5) translate(5.5%, 6%);
            }
    
            &#actor-7 img {
                transform: scale(5) translate(16%, -8%);
            }
    
            &#actor-8 img {
                transform: scale(6) translate(-8%, -5%);
            }
    
            &#actor-9 img {
                transform: scale(6) translate(-7%, -20%);
            }
    
            &#actor-10 img {
                transform: scale(3.2) translate(6%, -3%);
            }
    
            &#actor-11 img {
                transform: scale(7) translate(14.8%, 5.8%);
            }
    
            &#actor-12 img {
                transform: scale(3.5) translate(7.5%, 1%);
            }
    
            &#actor-13 img {
                transform: scale(5) translate(-8%, 1%);
            }
    
            &#actor-14 img {
                transform: scale(4.2) translate(-2.5%, -3%);
            }
    
            &#actor-15 img {
                transform: scale(7) translate(-2%, 2%);
            }
    
            &#actor-16 img {
                transform: scale(8) translate(3%, 1%);
            }
    
            &#actor-17 img {
                transform: scale(5) translate(0, -1%);
            }
    
            &#actor-18 img {
                transform: scale(5) translate(7%, 5%);
            }
    
            &#actor-19 img {
                transform: scale(4) translate(0, 1%);
            }
    
            &#actor-20 img {
                transform: scale(5) translate(0, -1%);
            }    
        }

        transition-property: margin, width, height;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0, 0, 0, 1);
        transition-delay: 0s;
    }

}


.space {
    width: 100%;
    height: 40vh;
}

