@use 'colors';

main {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96vw;
    height: 94vh;

    @media screen and (max-height: 600px) {
        height: 768px;
    }
}

@media screen and (max-width: 768px) {
    #top-menu {
        background-color: unset;

        #top-menu-content {
            background-color: colors.$onedark-blue-darkest;

            nav {
                margin: 0;
            }
        }
    }
}

h1 {
    top: 5%;
    right: 5%;

    font-size: 2.5rem;
    letter-spacing: -0.1rem;

    color: colors.$onedark-gray;
}

#annotation {
    width: 100%;
    height: 100%;

    .highlighter {

        display: flex;
        flex-direction: column-reverse;

        ul.subway-sign {
            // flex-direction: column-reverse;
            vertical-align: bottom;
            padding: 0 0 0 10%;
        }

        .hl:hover {
            &.hl-colored {
                background-color: colors.$std-yellow;
            }

            ~.hl-switch {

                &.animate-flash {
                    animation: flash 2s infinite 0s;
                }
            }
        }

    }

}


@keyframes flash {
    0% {
        opacity: 100;
    }

    60% {
        opacity: 100;
    }

    61% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}