@use "colors";

header, article {
	margin: 0 22% 0;
}

h1, h2, h3, h4 {
	color: colors.$ulysses-blue;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.2em;
	font-style: italic;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.8em;
}

p, li {
    line-height: 1.5rem;
}

li {
	padding: 0 0 0.5em;
}

blockquote p {
	margin: 0;
	padding: 0.3em 0.1em 0.3em
}
blockquote {
	font-size: 18px;
	margin: 0 0 1rem;
	color: colors.$ulysses-blue;
	background-color: rgb(40, 43, 44);
}
ul {
	// list-style: square outside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
	list-style: square outside url('data:image/gif;base64,R0lGODdhBQAKAJEAAAAAAP///wAAAAAAACH5BAkAAAIALAAAAAAFAAoAAAIIlI+ZwawPUQEAOw==');
	ol {
		list-style: decimal;
	}
}
em, i {
	color: colors.$ulysses-blue;
}
strong, b {
	color: colors.$ulysses-pink;
}
li.cat-item {
	margin: 0
}

figure {
	width: 100%;
	margin: 2em 0 2em;
	img {
		display: block;
		width: 90%;
		margin: 0 auto 0;
	}
}

mark {
	color: colors.$ulysses-highlight-fg;
	background-color: colors.$ulysses-highlight-bg;
	border: 3px;
	border-color: colors.$ulysses-highlight-bg;
	border-radius: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	header, article {
		margin: 0 10% 0;
	}
}
@media screen and (max-width: 768px) {
	header, article {
		margin: 0 3% 0;
	}
}
